:root {
  --btn-font-family: monospace;
  --go-green: rgb(50, 177, 50)
}

button {
  margin: .5rem;
  font-family: var(--btn-font-family);
  font-size: larger;
  background-color: var(--accent-color);
  color: var(--text-light);
  border-radius: .5rem;
}

button:hover {
  background-color: var(--primary);
}

button:active {
  background-color: var(--go-green);
}